# Dependency directories
node_modules/
jspm_packages/

# Environment Variables
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Build outputs
dist/
build/
.next/
out/

# Prisma
/src/generated/prisma
*.db
*.db-journal

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vercel
.vercel

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Misc
config.bat
